<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
{% extends 'includes/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    {% if not check_username or not check_mail or not check_password %}
        <div id="errors">
            {% if not check_username %}
                نام کاربری شما در سیستم موجود است
            {% endif %}
            {% if not check_mail %}
                کاربری با ایمیل وارد شده وجود دارد
            {% endif %}
            {% if not check_password %}
                گذرواژه و تکرار گذرواژه یکسان نیستند
            {% endif %}
        </div>
    {% endif %}
    <div>
        <form method="post" action="." id="register_form"> {% csrf_token %}
            نام
            <br>
            <input id="id_first_name" required type="text" name="first-name"
                   placeholder="نام"><br>
            نام خانوادگی
            <br>
            <input id="id_last_name" required type="text" name="last-name"
                   placeholder="نام خانوادگی">
            <br>
            نام کاربری
            <br>
            <input id="id_username" type="text" required name="username" placeholder="Username">
            <br>
            ایمیل
            <br>
            <input id="id_email" type="email" required name="email" placeholder="Email">
            <br>
            رمز عبور
            <br>
            <input id="id_password1" type="password" required name="password1" placeholder="Password">
            <br>
            تکرار رمز عبور
            <br>
            <input id="id_password2" type="password" required name="password2" placeholder="Confirm Password">
            <br>
            <button id="id_submit" name="submit" type="submit">ثبت نام</button>
        </form>

    </div>
    </div>
{% endblock %}
</body>
</html>