<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Hello World{% endblock %}</title>
</head>
<body>
<div id="navbar">
    <a id="homepage" href="{% url 'index' %}">Main Page</a>
    {% if request.user.is_authenticated %}
        <a id="logout" href="{% url "logout" %}">Logout</a>
        <a id="profile" href="{% url "profile" %}">Profile</a>
    {% else %}
        <a id="login" href="{% url "login" %}">login</a>
        <a id="register" href="{% url "register" %}">Register</a>
    {% endif %}
    <a id="contact_us" href="{% url "contact-us" %}">Contact Us</a>
</div>
<p>سلام. به سامانه‌ی انتخاب واحد مجازی خوش آمدید.</p>
{% block content %}
{% endblock %}
</body>
</html>