
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
{% extends 'includes/base.html' %}
{% block title %}Login{% endblock %}
    {% load static %}
{% load staticfiles %}
{% block content %}
    <form action="." method="post" id="setting_form" enctype="multipart/form-data">
    {% csrf_token %}
        first name:<br>
        <input name="first_name" value="{{ first_name }}"><br>
        last name:<br>
        <input name="last_name" value="{{ last_name }}"><br>
        Avatar:<br>
        <input type="file" name="avatar" value="{{ avatar }}"><br>
        <input type="submit" value="submit">
    </form>
{% endblock %}
</body>
</html>