<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
{% extends 'includes/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    first name: <span id="text_first_name">{{ first_name }}</span><br>
    last name: <span id="text_last_name">{{ last_name }}</span><br>
    username: <span id="text_user_name">{{ username }}</span>
    <div>
        <a  id="setting" href="{% url 'edit-profile' %}">
            <button>
                ویرایش پروفایل
            </button>
        </a>
    </div>
{% endblock %}
</body>
</html>