<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
{% extends 'includes/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <div id="all_courses">
        {% for course in courses %}
            {% if not course in my %}
                <div dir="rtl" class="{{ course.course_number }}_{{ course.group_number }}">
                    <h4>{{ course.name }}</h4>
                    <div>{{ course.department }}</div>
                    {% if course.second_day %}
                        {% load index %}
                        <div>{{ days|index:course.first_day }} و {{ days|index:course.second_day }}</div>
                    {% else %}
                        <div>{{ days|index:course.first_day }}</div>
                    {% endif %}
                    <div>{{ course.start_time|time:"H:i" }}
                        تا
                        {{ course.end_time|time:"H:i" }}</div>
                    <div>{{ course.teacher }}</div>
                    <a href="/add-course/{{ course.id }}" class="add">add</a>
                </div>
            {% endif %}

        {% endfor %}
        <form action="." method="post" id="search_form">
            {% csrf_token %}
            Department: <input name="search_query" type="text" required><br>
            Department: <input type="checkbox" name="department">
            Teacher: <input type="checkbox" name="teacher">
            Course: <input type="checkbox" name="course">
            <button type="submit" name="submit" value="submit">submit</button>
        </form>
        {% if search_courses %}
            <div id="search_result">
                {% for course in search_courses %}
                    <div class="{{ course.course_number }}_{{ course.group_number }}">{{ course.name }} {{ course.teacher }}</div>
                {% endfor %}
            </div>

        {% endif %}
    </div>
    <div id="my_courses">
        {% for u in uc %}
            <div dir="rtl" class="{{ u.course.course_number }}_{{ u.course.group_number }}">
                <h4>{{ u.course.name }}</h4>
                <div>{{ u.course.department }}</div>
                {% if u.course.second_day %}
                    {% load index %}
                    <div>{{ days|index:u.course.first_day }} و {{ days|index:u.course.second_day }}</div>
                {% else %}
                    <div>{{ days|index:u.course.first_day }}</div>
                {% endif %}
                <div>{{ u.course.start_time|time:"H:i" }}
                    تا
                    {{ u.course.end_time|time:"H:i" }}</div>
                <div>{{ u.course.teacher }}</div>
                <a href="/delete-course/{{ u.course.id }}" class="remove">delete</a>
            </div>

        {% endfor %}

    </div>
{% endblock %}
</body>
</html>